:root {
  /* TEXT */
  --title__color: #DB00FF;
  --text__color: #F1B2CE;
  --text__color__second: #FF0070;
  --text__title__color: #000028;
  --font__family: "IBM Plex Mono", sans-serif;

  /* BUTTON */

  --button__color: rgba(255, 0, 112, 0.4);

  /* BACKGROUND */
  --main__color: #000028;
  --accent__color: #FF0070;
  --shadow__color: #FF0070;

  --bcg__image: url(../images/cover-image-dark.png);
}
